<div class="container">
  <app-search></app-search>
  <app-tags></app-tags>
  <div class="row">
    <ul>
      <li *ngFor="let food of foods">
        <div class="card" style="width: 18rem">
          <img
            src="{{ food.imageUrls[0] }}"
            class="{{ food.name }}"
            alt="{{ food.name }}"
            routerLink="/detail/{{ food.id }}"
          />
          <div class="card-body">
            <h4 class="food-name" routerLink="/detail/{{ food.id }}">
              {{ food.name }}
            </h4>
            <div class="food-tags">
              <i class="fas fa-tags"></i>
              <span>{{ food.tags?.join(" - ") }}</span>
            </div>
            <div class="food-info">
              <div class="cook-time">
                <i class="far fa-clock"></i>
                <span>{{ food.cookTime }} </span>
              </div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <span>{{ food.star }}</span>
              </div>
            </div>
            <div class="food-price">{{ food.price }}$</div>
            <div class="button-area">
              <div class="button action-btn">
                <div class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <span>Buy</span>
              </div>
              <div class="button action-btn">
                <div class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <span>Add to cart</span>
              </div>
            </div>
          </div>
          <div class="card-badge">Promo</div>
          <div *ngIf="food.favorite" class="card-favorite">Favorite</div>
        </div>
      </li>
    </ul>
  </div>
</div>
